*.class

# Package Files #
*.jar
*.war
*.ear

# Folders
war/WEB-INF/classes
war/WEB-INF/deploy
war/bookspicker
war/logs
gwt-UnitCache
.settings

# Include libs folders
!lib/*
!war/WEB-INF/lib/*

# Exclude GWT-dependent gwt-servlet.jar
war/WEB-INF/lib/gwt-servlet.jar

# Exclude .DS_Store
.DS_Store
src/.DS_Store
